.header
  +padding-top(10)
  +padding-bottom(10)

.header__container
  +wrap

.header__title
  +heading-font-family
  font-size: 54px
  text-align: center
  font-weight: 700
  max-width: 420px
  margin: 0 auto
  +margin-bottom(3)
  line-height: 1.05em

.header__subtitle
  line-height: 1.15em
  text-align: center
  +font-size(gamma)
  margin: 0 auto
  max-width: 420px
  +margin-bottom(3)

.header__image
  display: none

.half__text
  a
    text-decoration: underline

@media only screen and (min-width: 800px)
  .header
    +padding-top(8)
    +padding-bottom(6)

  .header__title
    font-size: 70px
    max-width: 620px
    +margin-bottom(4)

  .header__subtitle
    font-size: 25px
    max-width: 620px

@media only screen and (min-width: 1200px)
  .header
    +padding-top(11)
    +padding-bottom(6)

  .header__title
    font-size: 90px
    max-width: 680px

  .header__subtitle
    line-height: 1.2em
    font-size: 27px
    max-width: 600px
    +margin-bottom(5)

  .header__image
    display: block
    width: 100px
