.lyket__like
  font-size: 40px

.lyket__clap
  font-size: 30px

.lyket__updown
  font-size: 25px

img.lyket__image
  box-shadow: none
  margin: 0 auto
  +margin-bottom(1)
  height: 100px
  width: auto
  display: block

.lyket__element
  text-align: center

@media only screen and (min-width: 740px)
  .lyket__flex
    display: flex
    align-items: center
    justify-content: center
    +margin-bottom(4)

  .lyket__flex > *
    +horizontal-margin(2)

@media only screen and (min-width: 1000px)
  .lyket__container
    +center

  .lyket__like
    font-size: 50px

  .lyket__clap
    font-size: 40px

  .lyket__updown
    font-size: 35px
