.markdown
  position: relative
  +font-size(regular)

  h1, h2
    font-weight: bold
    +font-size(alpha)
    +margin-top(4)
    +margin-bottom(2)

  h3
    +font-size(beta)
    font-weight: 700
    +margin-top(2)
    +margin-bottom(2)

  h4
    +font-size(gamma)
    font-weight: 700
    +margin-top(1)
    +margin-bottom(1)

  h5
    +margin-top(1)
    +margin-bottom(1)
    font-weight: 500

  p
    +margin-bottom(2)

  pre
    +margin-bottom(2)
    background-color: $light-bg-color
    +padding(2)

  ul, ol, blockquote
    padding-left: 40px
    +margin-bottom(2)

  li
    list-style-type: disc

  video
    +margin-bottom(2)
    width: 100%
    box-shadow: 2px 14px 15px #ddd
