.page
  position: relative
  background-color: white
  +font-size(regular)
  +padding-top(2)

.page__section
  +wrap

.page__title
  @extend .section__title
  text-align: center

.page__title--small
  text-align: center
  max-width: 85%
  margin: 0 auto
  +margin-bottom(3)
  +font-size(alpha)
  font-weight: 500

.page__text
  +wrap-tight
  +font-size(regular)
  font-weight: regular
  +margin-bottom(3)

@media only screen and (min-width: 1000px)
  .page
    +padding-top(6)

  .page__title
    +font-size(big)

  .page__text
    +font-size(gamma)
    +margin-bottom(6)
