.ternary
  display: flex
  flex-direction: column
  justify-content: space-between
  font-weight: 400
  font-size: 20px

.ternary__item
  flex-grow: 0
  text-align: center
  border-radius: 5px
  display: flex
  flex-direction: column
  align-items: center
  +margin-bottom(6)
  background: white
  +horizontal-padding(3)
  +vertical-padding(6)
  box-shadow: $shadow
  &:last-child
    // +margin-bottom(0)

.ternary__title
  +font-size(alpha)
  font-weight: bold
  +margin-bottom(4)

.ternary__text
  margin-bottom: $grid-gutter
  +font-size(beta)
  text-align: center

.ternary__line
  text-align: center
  +margin-bottom(3)
  font-size: 7vh
  line-height: 3px

.ternary__line--pink
  @extend .ternary__line
  color: $raspberry

.ternary__line--green
  @extend .ternary__line
  color: $green

.ternary__line--yellow
  @extend .ternary__line
  color: $yellow

.ternary__huge
  +font-size(alpha)
  font-weight: 700
  text-align: center

@media only screen and (min-width: 1000px)
  .ternary
    flex-direction: row

  .ternary__item
    flex-basis: 33%
    margin-bottom: $grid-gutter
    max-width: 30%
    box-shadow: none
