.window
  +font-size(regular)
  box-shadow: $shadow
  border-radius: 3px
  font-weight: 500
  padding: 60px 50px
  border-radius: 3px
  max-width: 500px
  margin: 0 auto
  text-align: left
  background-color: white

@media only screen and (min-width: 1000px)
  .window
    width: 450px
